@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

main, body{
    width: 100vw;
    height: 100vh;
}
body{
    background-image: url('../images/fundo-madeira.jpg');
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}
main{
    position: relative;
    height: 100vh;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
section#celular{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background-image: url('../images/frame-iphone.png');
    background-repeat: no-repeat;
}
iframe#tela{
    position: relative;
    top: 79px;
    left: 20px;
    width: 270px;
    height: 470px;
}
#icons img{
    display: block;
    width: 50px;
    padding-top: 10px;
    border-radius: 50%;
}
#icons{
    position: relative;
    margin: 0px;
    margin: auto;
    text-align: center;
}
#icons:hover{
    box-sizing: 0px 0px 10px white;
    transition: 1s ease-in-out;
    cursor: pointer;
}
#redes-sociais{
    text-align: right;
}
#redes-sociais img{
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.500);
}
#redes-sociais img:hover{
    transition: 0.5s ease-in-out;
    transform: translate(-2px, -10px);
    box-shadow: -2px -2px -10px rgba(0, 0, 0, 0.500);
    box-shadow: 0px 0px 25px white;
}
